@media screen and (max-width:600px) {
    *{
        margin: 0px;
        padding: 0px; 
    }
    header{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #logo{
        height:200px ;
    }
    header ul{
        display: flex;
    }
     header li{
        list-style: none;
        padding: 20px;
    }
    li a {
        text-decoration: none;
        font-family: 'Bebas Neue', cursive;
        color: white;
    }
    li a:hover{
        padding: 8px;
        border-radius: 4px;
        background-color: white;
        color: black;
    }
    #superior{
        background-color: rgb(184, 156, 109) ;
        display: flex;
    }
    h1{
        padding: 36px;
        font-size: 36px;
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
    }
    .foto{
        height: 180px;
        padding: 15px;
        
    }
    #conteudo p {
        padding: 15px;
    }


    #ficha-tec{
        background-color: lightgray;
    }
    #ficha-tec h2, #compre h2{
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        padding: 18px;
    }
    #ficha-tec li{
       margin-left: 35px;
       padding: 10px;
       font-family: 'Roboto', sans-serif;
       font-weight: 600;
    }
    #compre-aqui{
        background-color:rgb(171, 127, 84) ;
    }
    #compre-aqui h2{
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        margin: auto;
        padding-left: 45px;
        padding-top:45px; 

    }
    #compre{
        background-color:rgb(171, 127, 84) ;
    }
    #compre p {
        padding: 18px;
    }
    #compre img{
        height: 250px;
        padding: 60px;
    }
    #form{
        background-color: rgb(117, 117, 117);
       
    }
    #conteiner{
        display: flex;
        padding: 20px;
    }
    form{
        padding: 12px;
        
    }
    #form h2{
        padding: 18px;
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
    }
    input{
        margin: 4px;
        padding: 3px;
    }
    .foto-form{
        height: 160px;
    }
    #bot{
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        border: none;
        border-radius: 4px;
        padding: 3px;
    }
    footer{
        background-color: black;
        text-align: center;
        color: white;
        padding: 20px;
    }
}