@media screen and (min-width:601px) {
    *{
        margin: 0px;
        padding: 0px; 
    }
    body{
        background-color: rgb(87, 87, 87);
    }
    header{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #logo{
        height:200px ;
    }
    header ul{
        display: flex;
    }
     header li{
        list-style: none;
        padding: 20px;
    }
    li a {
        text-decoration: none;
        font-family: 'Bebas Neue', cursive;
        color: white;
    }
    li a:hover{
        padding: 8px;
        border-radius: 4px;
        background-color: white;
        color: black;
    }


    main{
        width: 1200px;
        margin: auto;
    }
    #superior{
        background-color: rgb(184, 156, 109) ;
        
        
        
    }
    h1{
        padding: 48px;
        font-size: 36px;
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
    }
    .foto{
        height: 280px;
        margin-left: 35px;
        padding: 15px;
        
    }
    #conteudo{
        display: flex;
    }
    #conteudo p {
        padding: 15px;
    }
    #ficha-tec{
        background-color: lightgray;
    }
    #ficha-tec h2{
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        text-align: center;
        margin: auto;
        padding: 18px;
    }
    #ficha-tec li{
        text-align: center;
       margin-left: 35px;
       list-style: none;
       padding: 10px;
       font-family: 'Roboto', sans-serif;
       font-weight: 600;
    }
    #compre-aqui h2{
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        margin: auto;
        padding-left: 45px;
        padding-top:45px; 

    }
    #compre-aqui{
        background-color:rgb(171, 127, 84) ;
    }
    #compre{
       
        display: flex;
        
    }
    #compre p {
        font-size: 18px;
        padding: 30px;
    }
    #compre img{
        height: 300px;
        padding: 30px;
    }
    #form{
        background-color: rgb(117, 117, 117);
        padding: 30px;
    }
    #conteiner{
        display: flex;
        
        padding: 20px;
    }
    form{
        padding: 12px;
       
        
    }
    #form h2{
        padding: 18px;
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
    }
    input{
       display: flex;
        margin: 8px;
        padding: 8px;
    }
    .foto-form{
        
        height: 250px;
    }
    #bot{
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        border: none;
        border-radius: 4px;
        padding: 3px;
    }
    footer{
        background-color: black;
        text-align: center;
        color: white;
        padding: 20px;
    }
}
